<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="simple.com.simpleProject.LoginTest"/>
      <class name="simple.com.simpleProject.ProductFilter"/>
      <class name="simple.com.simpleProject.CartOperationTest"/>
      <class name="simple.com.simpleProject.CheckoutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

